@import url('https://fonts.googleapis.com/css?family=Dosis:400,700');

/* Gobal */
body, html,
body > div, {
    height: 100%;
}

.teal-bg {
  background: #3fd1c4;
}

.white-color {
    color: #fff !important;
}

.teal-color {
  color: #3fd1c4;
}

hr.large {
    max-width: 180px;
    height: 4px;
    border: 0px;
    border-radius: 5px;
    margin: 10px auto;
}

.ui.grid {
  margin-top: auto;
}

.ui.header.dosis {
  font-family: Dosis;
}

.ui.header.large {
  font-size: 40px !important;
}

.center.aligned.middle.aligned.column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
  margin: 8em 0;
}

.section .pad {
  padding: 6em 0;
}

.section.grey-bg {
  background: #eee;
}

.section.end-section {
  margin-bottom: -5em !important;
}

.no-hover {
  background: transparent !important;
}

.ui.container.no-margin {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/* Home Page Hero */

.section.hero {
  max-width: 800px!important;
}

.hero-img {
  max-width: 160px !important;
  margin: 0 auto;
}

.hero-features p {
  padding: 10px 5px;
  max-width: 500px;
  margin: 0 auto;
  line-height: 30px;
  color: #5c5c5c;
  font-size: 16px;
}

/* Features Section */
p.features-text {
  line-height: 30px;
  color: #5c5c5c;
  font-size: 18px;
  max-width: 600px;
}

@media (max-width: 767px) {
  h3.features-header {
    text-align: center;
  }
  p.features-text {
    text-align: center;
  }
}

/* Pricing Section */
.plan {
  padding: 30px !important;
}

.plan-price {
  display: inline-block !important;
  margin: -1px 0px 20px 0px !important;
}

.featured-plan {
  display: flex;
  flex-direction: column;
}

.featured-button {
  background: white !important;
}

.plan-button {
  width: 100%;
  margin: 10px;
}

.plan-list {
  font-size: 16px;
  margin: 0px 0px 30px;
}

div.questions {
  font-size: 16px;
  font-weight: bold;
  margin: 15px 0px;
}

@media (max-width: 550px) {
  .pricing-grid .column {
    width: 100% !important;
  }
}


/* Integrations Section */
.int-img {
  margin: 0 auto;
}


/* Nav Menu */

.ui.container.stackable.one.column.grid.nav-menu-parent {
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
  height: 0px;
  margin-top: -1em;
}
@media (max-width:360px) {
  .ui.container.stackable.one.column.grid.nav-menu-parent {
    justify-content: center;
  }
}

.ui.segment.menu-container.visible {
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  margin-top: 65px;
  z-index: 1000;
  box-shadow: 0 0px 0px 0 rgba(34,36,38,.12), 0 1px 5px 0 rgba(34,36,38,.15);
  border: 1px solid #eee;
  width: 300px;
}

.nav-menu {
  border: 0px !important;
  box-shadow: none !important;
  width: 100% !important;
  margin-top: -5px !important;
}

.nav-menu .sub-menu {
  margin-bottom: 10px !important;
  font-size: 16px;
}

.nav-menu .sub-menu a.item:hover {
  color: rgba(0,0,0,.95) !important;
}

/* Navbar */
a.item.nav-logo {
  font-family: Dosis;
  font-size: 23px;
  letter-spacing: .5px;
  font-weight: 700 !important;
}


/* Hamburger Menu Icon */
a.right.item.no-hover {
    margin-right: 2vw;
}

.nav-menu-icon {
  width: 8px;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 40%;
  background: #3fd1c4;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  margin-top: 45%;
}

#nav-icon span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon span:nth-child(odd) {
  left:5px;
  border-radius: 9px 0 0 9px;
}

#nav-icon span:nth-child(1), #nav-icon span:nth-child(2) {
  top: 7px;
}

#nav-icon span:nth-child(3), #nav-icon span:nth-child(4) {
  top: 18px;
}

#nav-icon span:nth-child(5), #nav-icon span:nth-child(6) {
  top: 29px;
}

#nav-icon.open span:nth-child(1),#nav-icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(2),#nav-icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(1) {
  left: 5px;
  top: 12px;
}

#nav-icon.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 12px;
}

#nav-icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon.open span:nth-child(5) {
  left: 5px;
  top: 22px;
}

#nav-icon.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 22px;
}


/* Inputs */
.stps-input div.ui.input input {
  box-shadow: 0 0px 0px 0 rgba(34,36,38,.12), 0 1px 5px 0 rgba(34,36,38,.15);
  padding: 1em 1em;
  border-radius: .28571429rem;
}

.stps-input div.ui.input input:focus {
  box-shadow: 0 0px 0px 0 rgba(34,36,38,.12), 0 1px 2.5px 0 #d6d6d6;
  border: 1px solid #3fd1c4;
}

.stps-input.required label::after {
  color: #3fd1c4 !important;
  font-size: 15px;
}

.ui.form .field .ui.input input, .ui.form .fields .field .ui.input input {
    width: inherit !important;
}

/* Selects */
.stps-select div.dropdown {
  box-shadow: 0 0px 0px 0 rgba(34,36,38,.12), 0 1px 5px 0 rgba(34,36,38,.15) !important;
  padding: 1.4em 1.4em !important;
  border-radius: .28571429rem !important;
}

.ui.selection.dropdown:hover {
  border: 1px solid rgba(34,36,38,.15);
}

.stps-select div.dropdown:focus {
  border-top: 1px solid #3fd1c4 !important;
  border-left: 1px solid #3fd1c4 !important;
  border-right: 1px solid #3fd1c4 !important;
  border-bottom: 0px solid white;
}

.stps-select div.dropdown i.dropdown.icon {
  margin-top: 0px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  border-left: 2px solid #eee;
}
.ui.dropdown>.dropdown.icon:before {
  content: '\f078' !important;
  font-family: 'Icons';
  color: #3fd1c4;
}

.ui.selection.dropdown:focus .menu {
  box-shadow: 0 0px 0px 0 rgba(34,36,38,.12), 0 1px 2.5px 0 #d6d6d6 !important;
  border-bottom: 1px solid #3fd1c4 !important;
  border-left: 1px solid #3fd1c4 !important;
  border-right: 1px solid #3fd1c4 !important;
  border-top: 0px solid #fff;
}
