@import url('https://fonts.googleapis.com/css?family=Dosis:400,700');

/* Gobal */
body, html,
body > div,
.App > div,
.App > div > .main-container {
    height: 100%;
}

.main-container {
  margin-top: 8em;
}

.dgrey-bg {
  background: #d5d6d7 !important;
}

.dgrey-bg.h:hover {
  background: #cacbcd!important;
}

.teal-bg {
  background: #3fd1c4;
}

.white-color {
    color: #fff !important;
}

.teal-color {
  color: #3fd1c4;
}

hr.large {
  max-width: 180px;
  height: 4px;
  border: 0px;
  border-radius: 5px;
  margin: 10px auto;
}

.ui.grid {
  margin-top: auto;
}

.ui.header.dosis {
  font-family: Dosis;
}

.ui.header.large {
  font-size: 40px !important;
}

.center.aligned.middle.aligned.column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  margin: 8em 0;
}

.section .pad {
  padding: 6em 0;
}

.section.grey-bg {
  background: #eee;
}

.section.end-section {
  margin-bottom: -5em !important;
}

.no-hover {
  background: transparent !important;
}

.ui.container.no-margin {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.margin-sm {
  margin: 10px;
}

.margin-mid {
  margin: 30px;
}

.no-pad {
  padding: 0px !important;
}

/* Home Page Hero */

.section.hero {
  max-width: 800px!important;
}

.hero-img {
  max-width: 160px !important;
  margin: 0 auto;
}

.hero-features p {
  padding: 10px 5px;
  max-width: 500px;
  margin: 0 auto;
  line-height: 30px;
  color: #5c5c5c;
  font-size: 16px;
}

/* Features Section */
p.features-text {
  line-height: 30px;
  color: #5c5c5c;
  font-size: 18px;
  max-width: 600px;
}

@media (max-width: 767px) {
  h3.features-header {
    text-align: center;
  }
  p.features-text {
    text-align: center;
  }
}

/* Pricing Section */
.plan {
  padding: 30px !important;
}

.plan-price {
  display: inline-block !important;
  margin: -1px 0px 20px 0px !important;
}

.plan-price span.price-per {
  font-size: 14px;
}

.featured-plan {
  display: flex;
  flex-direction: column;
}

.featured-button {
  background: white !important;
}

.plan-button {
  width: 100%;
  margin: 10px;
}

.plan-list {
  font-size: 16px;
  margin: 0px 0px 30px;
}

div.questions {
  font-size: 16px;
  font-weight: bold;
  margin: 15px 0px;
}

@media (max-width: 550px) {
  .pricing-grid .column {
    width: 100% !important;
  }
}


/* Integrations Section */
.int-img {
  margin: 0 auto;
}


/* Nav Menu */

.ui.container.stackable.one.column.grid.nav-menu-parent {
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
  height: 0px;
  margin-top: -1em;
}
@media (max-width:360px) {
  .ui.container.stackable.one.column.grid.nav-menu-parent {
    justify-content: center;
  }
}

.ui.segment.menu-container.visible {
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  margin-top: 65px;
  z-index: 1000;
  box-shadow: 0 0px 0px 0 rgba(34,36,38,.12), 0 1px 5px 0 rgba(34,36,38,.15);
  border: 1px solid #eee;
  width: 300px;
}

.nav-menu {
  border: 0px !important;
  box-shadow: none !important;
  width: 100% !important;
  margin-top: -5px !important;
}

.nav-menu .sub-menu {
  margin-bottom: 10px !important;
  font-size: 16px;
}

.nav-menu .sub-menu a.item:hover {
  color: rgba(0,0,0,.95) !important;
}

/* Navbar */
.nav-logo {
  font-family: Dosis;
  font-size: 23px;
  letter-spacing: .5px;
  font-weight: 700 !important;
}

.nav-logo:hover {
  cursor: pointer;
  background: rgba(0,0,0,.03) !important;
}


/* Hamburger Menu Icon */
a.right.item.no-hover {
    margin-right: 2vw;
}

.nav-menu-icon {
  width: 8px;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 40%;
  background: #3fd1c4;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  margin-top: 45%;
}

#nav-icon span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon span:nth-child(odd) {
  left:5px;
  border-radius: 9px 0 0 9px;
}

#nav-icon span:nth-child(1), #nav-icon span:nth-child(2) {
  top: 7px;
}

#nav-icon span:nth-child(3), #nav-icon span:nth-child(4) {
  top: 18px;
}

#nav-icon span:nth-child(5), #nav-icon span:nth-child(6) {
  top: 29px;
}

#nav-icon.open span:nth-child(1),#nav-icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(2),#nav-icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(1) {
  left: 5px;
  top: 12px;
}

#nav-icon.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 12px;
}

#nav-icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon.open span:nth-child(5) {
  left: 5px;
  top: 22px;
}

#nav-icon.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 22px;
}


/* Message Boxes */
.flex-message {
  display: flex;
}

.flex-message.center {
  justify-content: center;
  align-items: center;
}

/* Inputs */
.stps-input div.ui.input input {
  box-shadow: 0 0px 0px 0 rgba(34,36,38,.12), 0 1px 5px 0 rgba(34,36,38,.15);
  padding: 1em 1em;
  border-radius: .28571429rem;
}

.stps-input div.ui.input input:focus {
  box-shadow: 0 0px 0px 0 rgba(34,36,38,.12), 0 1px 2.5px 0 #d6d6d6;
  border: 1px solid #3fd1c4;
}

.stps-input.required label::after {
  color: #3fd1c4 !important;
  font-size: 15px;
}

.ui.form .field .ui.input input, .ui.form .fields .field .ui.input input {
    width: inherit !important;
}

.stps-input.label-left label {
  text-align: left;
}

/* Selects */
.stps-select div.dropdown {
  box-shadow: 0 0px 0px 0 rgba(34,36,38,.12), 0 1px 5px 0 rgba(34,36,38,.15) !important;
  padding: 1.4em 1.4em !important;
  border-radius: .28571429rem !important;
}

.ui.selection.dropdown:hover {
  border: 1px solid rgba(34,36,38,.15);
}

.stps-select div.dropdown:focus {
  border-top: 1px solid #3fd1c4 !important;
  border-left: 1px solid #3fd1c4 !important;
  border-right: 1px solid #3fd1c4 !important;
  border-bottom: 1px solid white;
}

.stps-select div.dropdown i.dropdown.icon {
  margin-top: 0px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  border-left: 2px solid #eee;
}
.stps-select .ui.dropdown>.dropdown.icon:before {
  content: '\f078' !important;
  font-family: 'Icons';
  color: #3fd1c4;
}

.stps-select.compact i {
  top: 0.4485714em !important;
}

.ui.selection.dropdown:focus .menu {
  box-shadow: 0 0px 0px 0 rgba(34,36,38,.12), 0 1px 2.5px 0 #d6d6d6 !important;
  border-bottom: 1px solid #3fd1c4 !important;
  border-left: 1px solid #3fd1c4 !important;
  border-right: 1px solid #3fd1c4 !important;
  border-top: 0px solid #fff;
}

.stps-select.label-left label {
  text-align: left;
}

.stps-select.compact .selection.dropdown {
  padding: 1.1em !important;
  min-width: 151px;
}

.stps-select .ui.selection.dropdown:hover {
    border-color: rgba(34,36,38,.15);
}

.stps-select .ui.selection.dropdown:focus {
    border-color: #3fd1c4 !important;
}

.ui.selection.dropdown:focus {
    border-color: #3fd1c4 !important;
}

.small-select {
  box-shadow: 0 0px 0px 0 rgba(34,36,38,.12), 0 1px 5px 0 rgba(34,36,38,.15);
}

.small-select div.text {
  position: fixed;
  top: 14px;
  right: 18px;
}

/* Number Input */
.column.form-col input[type="number"] {
  max-width: calc(100% - 45px) !important;
}

/* Dropdown Icon */

i.dropdown-icon {
    margin-left: 9px !important;
    margin-top: 3px !important;
}

/* Dashboard/App */
.app-container {
  padding-top: 0em !important;
}

.app-menu a.item {
  font-weight: bold;
}

.ui.item.dropdown.dropdown-active {
  background: rgba(0,0,0,.05) !important;
  color: rgba(0,0,0,.95) !important;
}

.import-errors.message-box ul.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit-button-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 770px) {
  .po-dash .header.col {
    text-align: center !important;
  }
}

.po-item-container:hover {
  box-shadow: 0 3px 5px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15);
  cursor: pointer;
}

.po-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.po-item .po-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.po-item .po-details:hover {
  cursor: text;
}

.po-item .po-details .po-title {
  margin: 15px 5px;
}

.po-item .po-details .po-title:hover {
  cursor: pointer;
}

.po-actions {
    display: flex;
    align-items: center;
}

.po-actions .actions-menu {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  max-height: 0px;
  justify-content: center;
}

.po-actions .actions-menu .segment {
  padding: 5px;
}

@media screen and (max-width: 700px) {
  .po-actions .actions-menu .menu-container {
    position: absolute;
    z-index: 1000;
    width: 150px;
  }
}

.po-actions i.actions-menu-icon {
  padding: 20px;
  height: 30px;
  width: 30px;
  border-radius: .28571429rem;
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.po-actions i.actions-menu-icon:hover {
  background: rgba(0,0,0,.05);
  cursor: pointer;
  border-radius: .28571429rem;
}
.po-filter-form {
  padding: 10px;
  margin: 0px !important;
}

.po-filter-form .form-col {
  min-width: 180px;
  padding: 5px !important;
}

.filter-submit {
  padding: 10px;
  margin-bottom: 10px !important;
  display: flex;
  justify-content: center;
}

.filter-submit.margin-top {
  margin-top: -40px !important;
}

.filter-show-more div:hover {
  cursor: pointer;
}

.filter-show-more {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 10px;
  flex-direction: column;
}

.stps-input i[class="search icon"]:hover {
  cursor: pointer !important;
  pointer-events: inherit;
}

i.clear-filter-icon {
  opacity: .8;
}

i.clear-filter-icon:hover {
  opacity: .7;
  cursor: pointer;
}

.no-results-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}


.sort-by.button-menu .ui.button {
  width: 85px !important;
}

/* raised segment pagination */
.pagination-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.raised.segment.pagination.menu {
    padding: 0px;
}
